.liteflowEditorContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 100%;
  height: 100%;

  .liteflowEditorGraph {
    flex: 1;
    width: 100%;
    min-height: 0;

    :global {
      .liteflow-edge-add-button {
        display: none;
        pointer-events: all !important;
        margin: 0;
        border: dashed 1px #feb663;
        color: #feb663;
      }
      .x6-edge:hover .liteflow-edge-add-button {
        display: block;
      }
    }
  }

  .liteflowEditorMiniMap {
    position: absolute;
    right: 40px;
    bottom: 40px;

    :global {
      .x6-widget-minimap-viewport {
        border: 1px solid #e0e0e0;
      }
    }
  }
}

// add global for x6
:global {
  .x6-widget-transform {
    border-color: rgba(0, 0, 0, 0.3);
    border-style: dashed;
    background-color: rgba(0, 0, 0, 0.14);
    border-radius: 0;
    padding: 6px;
    margin: -7px 0 0 -7px;
    .x6-widget-transform-resize {
      width: 6px;
      height: 6px;
      border-radius: 0;
      border-color: rgba(0, 0, 0, 0.3);
      // border: 0 none;
      box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
    }
    .x6-widget-transform-cursor-nw {
      top: -6px;
      left: -6px;
    }
    .x6-widget-transform-cursor-n {
      margin-left: -3px;
      top: -6px;
    }
    .x6-widget-transform-cursor-ne {
      top: -6px;
      right: -6px;
    }
    .x6-widget-transform-cursor-e {
      margin-top: -3px;
      right: -6px;
    }
    .x6-widget-transform-cursor-se {
      right: -6px;
      bottom: -6px;
    }
    .x6-widget-transform-cursor-s {
      margin-left: -3px;
      bottom: -6px;
    }
    .x6-widget-transform-cursor-sw {
      left: -6px;
      bottom: -6px;
    }
    .x6-widget-transform-cursor-w {
      left: -6px;
      margin-top: -3px;
    }
  }
  .x6-widget-dnd.dragging {
    pointer-events: none;
  }
  .x6-edge:not([data-cell-id^="edge_param"]):not([data-cell-id^="edge_steps"]):not([data-cell-id^="edge_dependencies"]) path:nth-child(2) {
    stroke: #c1c1c1;
    stroke-width: 1px;
  }
  .x6-edge[data-cell-id^="edge_param"] path:nth-child(2) {
    stroke: #40a9ff !important;
    stroke-width: 2px !important;
    stroke-dasharray: 5 5 !important;
  }
  .x6-edge[data-cell-id^="edge_steps"] path:nth-child(2) {
    stroke: #ffa940 !important;
    stroke-width: 2px !important;
    stroke-dasharray: 5 5 !important;
  }
  .x6-edge[data-cell-id^="edge_dependencies"] path:nth-child(2) {
    stroke: #ffadd2 !important;
    stroke-width: 2px !important;
    stroke-dasharray: 5 5 !important;
  }
  .x6-edge:hover,
  .x6-edge.edge-moving,
  .x6-edge.x6-edge-selected {
    path:nth-child(2) {
      stroke: #feb663;
      stroke-width: 3px;
    }
  }
  .x6-edge[data-cell-id^="edge_param"]:hover path:nth-child(2),
  .x6-edge[data-cell-id^="edge_steps"]:hover path:nth-child(2),
  .x6-edge[data-cell-id^="edge_dependencies"]:hover path:nth-child(2) {
    stroke-width: 3px !important;
  }
  // .x6-node {
  //   .x6-port-body {
  //     visibility: hidden;
  //   }
  //   &:hover {
  //     .x6-port-body {
  //       visibility: visible;
  //     }
  //   }
  // }
  .x6-node {
    & > text {
      pointer-events: none;
    }
  }
  .react-json-view {
    .collapsed-icon,
    .expanded-icon {
      svg {
        vertical-align: middle !important;
      }
    }
  }
}
