.liteflowEditorLayoutContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;

  .liteflowEditorToolBar {
    height: 43px;
    flex-shrink: 0;
  }

  .liteflowEditorSideBar {
    border-right: 1px solid #d9d9d9;
    overflow: auto;
  }

  .liteflowEditorSettingBar {
    height: 100%;
    border-left: 1px solid #d9d9d9;
    overflow: hidden;
    display: flex;
    flex-direction: column;
  }
  :global {
    .x6-split-box-item-second {
      z-index: 2 !important;
    }
  }
}
