.liteflowEditorSettingBarContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  overflow: auto;

  :global {
    .ant-tabs {
      display: flex;
      flex-direction: column;
      height: 100%;
      overflow: auto;
    }
    .ant-tabs-nav {
      margin-bottom: 0;
      flex-shrink: 0;
    }
    .ant-tabs-nav-wrap {
      justify-content: center;
      align-items: center;
      background-color: #fafafa;
      border-bottom: 1px solid #d9d9d9;
    }
    .ant-tabs-content {
      flex: 1;
      overflow: auto;
      display: flex;
      flex-direction: column;
    }
    .ant-tabs-content-holder {
      flex: 1;
      overflow: auto;
      display: flex;
      flex-direction: column;
    }
    .ant-tabs-content-list {
      height: 100%;
      overflow: auto;
      display: flex;
      flex-direction: column;
    }
    .ant-tabs-tab {
      padding: 8px 16px;
    }
    .ant-tabs-tab-active {
      background-color: #fff;
    }
  }
}
